
@media only screen and (max-width: 768px){

h2 {

    font-size: 20px;

}

h3 {

    font-size: 16px;

}

}

.icon-wrapper {

width: 100%;

margin: auto;
font-size: 20px;
    
}


.icon-wrapper ul {

margin: auto;


}
 
.icon-wrapper ul li{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: auto;
    display:inline-block;
    background-color: rgb(54, 123, 252);
    border: 5px  solid rgb(185, 208, 250);
    
}
.icon-wrapper ul li:hover{

    background-color: rgb(22, 94, 228);
    border: 5px  solid rgb(226, 236, 255);

-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition: opacity 0.5s ease-in-out;
-ms-transition: opacity 0.5s ease-in-out;
-o-transition: opacity 0.5s ease-in-out;
transition: opacity 0.5s ease-in-out;

}

.icon-wrapper ul li a{

    text-decoration: none;

    display:inline-block;
    margin:auto;

}

.icon-wrapper ul li a i{
margin-top: 28px;
display: block;
color: cornsilk;
}