.ibu-bungkus {

    width: 60%;
    height: auto;
    margin: auto;
   

    margin-top: -200px;

  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.pembungkus {

 

width: 100%;
height: auto;
margin: auto;

overflow: hidden;

padding:20px;


}

.header-pembungkus {

    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(122, 128, 128);
    color: floralwhite;
    padding: 10px;

}



.header-pembungkus img{

    width: 80px;
    height: 80px;

}


.floatLeft { width:40%; float: left; 
 }

.floatLeft li{

   
    font-weight: bold;
    padding:8px;
    border-radius: 4px;
    margin-bottom: 10px;
    list-style-type:none;
    color: rgb(110, 109, 109);
    background-color: rgb(255, 255, 255);
    width: 100%;



}


.floatLeft th{

  
    padding:10px;
}


   

.floatRight {width: 50%; float: right; 
}

.floatRight li{
    color: rgb(110, 109, 109);

    background-color: rgb(255, 255, 255);
    padding:10px;
    border-radius: 2px;
    margin-bottom: 15px;
    list-style-type:none;
    margin-left:-10%;


}


.floatRight th{


    padding:10px;

}



@media only screen and (max-width: 1199px)
{


	.ibu-bungkus {

		width: 70%;

        
	}
}




@media only screen and (max-width: 991px)
{

	.ibu-bungkus {

		width: 80%;
        margin-top:-370px;
	}
}



@media only screen and (max-width: 767px)
{


	.ibu-bungkus {

		width: 95%;
           margin-top:-370px;
           
    }
    
    h3{

        
        font-size: 20px;

    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)

{


	.ibu-bungkus {

        width: 95%;
        margin-top:-370px;
        
		
    }
    

    h3{

            font-size: 20px;
    }
}