


.header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 100;
}
.header.scrolled
{
	position: fixed;
	top: -91px;
	left: 0;
}
.header_top
{
	width: 100%;
	z-index: 2;
}
.header_top_content
{
	height: 91px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.logo a
{

    margin-left: 80% ;
	line-height: 0.75;
	color: #404040;
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
  text-decoration: none;
}
.logo a span
{
	position: relative;
	font-size: 36px;
	color: #32c69a;
	line-height: 0.75;
	vertical-align: text-top;
}